NEXT_PUBLIC_SITE_URL=https://uro-modern-prototype.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://qzzfkebvfsltohxqquza.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_VGNnWBj5vFZYSCS_MJs8sQ_hAr64fBu
NEXT_PUBLIC_WHATSAPP_NUMBER=256750038345
